@import "tailwindcss";

:root {
  --font-body: "Alice", serif;
  --font-bali: "Dancing Script", cursive;
}

@theme inline {
  --color-primary: #397397;
  --color-secondary: #073e4b;
  --color-text: #0c6a80;
  --font-bali: var(--font-bali);
}

body {
  font-family: var(--font-body);
  background-color: var(--color-secondary);
  overflow-x: hidden;
}
